@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 340px 171px #fff, 746px 246px #fff, 984px 500px #fff, 190px 610px #fff, 1347px 245px #fff, 670px 724px #fff, 825px 1050px #fff, 700px 1500px #fff;
  animation: animStar 50s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
